.paragraph-container {
  background-color: var(--light);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  padding: 2em;
}

.title {
  color: var(--primary);
  text-align: center;
  padding-bottom: 0.5em;
}

.text {
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.2rem;
  }
}
