.sidebar {
  display: flex;
  height: 100vh;
}

aside {
  background-color: var(--primary);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4.5rem 1.4rem;
}

.menu-container a {
  color: var(--light);
  font-weight: 600;
  display: block;
  margin: 1.5rem;
}

button {
  display: flex;
align-items: center;
  cursor: pointer;
  margin: 1.25rem;
  border: 1px solid var(--primary);
  border-radius: 100%;
  padding: 0.25rem;
  background-color: var(--light);
  outline: none;
}

.bx {
  font-size: 1.5rem;
  transition: all 1s ease-out;
}

.btn-container {
  position: fixed;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
  }
}


