ul {
  list-style: circle inside;
}

.resources {
  background-color: var(--light);
  max-width: 600px;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  padding: 2em;
}

.resources h2 {
  padding-bottom: 0.5em;
}

.resources a {
  color: var(--accent);
  line-height: 2;
}

.resources a:hover {
  color: var(--primary);
}
