:root {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
}

.prova {
  margin-left: 4rem;
  margin-right: 4rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  text-align: center;
}

/*----- SIDEBAR -----*/

.sidebar {
  display: flex;
  height: 100vh;
}

aside {
  background-color: #c4a8ff;
}

.menu-container {
  margin: 4.5rem 1.4rem;
}

.menu-container a {
  color: #f9fafb;
  font-weight: 600;
  display: block;
  margin: 20px;
}

.menu-container p {
  margin-top: 5rem;
}

button {
  cursor: pointer;
  margin: 1.25rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #f9fafb;
  outline: none;
}

.btn-container {
  position: fixed;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
  }
}

@media screen and (min-width: 769px) {
  .container-dash {
    display: grid;
    grid-template-columns: 240px 80%;
  }

  .btn-container {
    display: none;
  }
}
