:root {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  --primary: #c4a8ff;
  --light: #f9fafb;
  --hover:  #535bf2;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  text-align: center;
}