*,
::before,
::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Karla", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary: #c4a8ff;
  --light: #f9fafb;
  --hover: #535bf2;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

body {
  min-width: 320px;
}

h1 {
  text-align: center;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin: 3.25em auto;
}

@media screen and (min-width: 769px) {
  .section-wrapper {
    max-width: 1000px;
    height: max-content;
  }
}
